<%- include('partials/header'); -%>
  <h1 class="fw-semibold fs-1 my-4 "><%=pageTitle%></h1>
  <%blogs.forEach(blg => {%>
    <p class=" fs-2 my-1"><%=blg.Title%></p>
    <p><%=blg.Body.substring(0, 30) + " ... "%><a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/posts/<%=blg._id%>">Read more</a></p>
  <%})%>
<%- include('partials/footer'); -%>

